<configuration>
  <system.webServer>

    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>


    <rewrite>
      <rules>
        <rule name="/">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="true" />
    
  </system.webServer>
</configuration>
